@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
/* Add this to ensure the Solana Wallet buttons don't lose their styling */
@import "@solana/wallet-adapter-react-ui/styles.css";
